/*color schemes:
serenity (light blue): #ADC8D2
taupe: #9F9C93     
slate: #54627B     
ivory: #F4F4F6    
*/
.form-button-careers button{

        background-color: #54627B;
        color: black;
        padding: 12px 20px;
        cursor: pointer;
        width:69rem;
        display: inline-block;
        margin:10px;
    }

      .form-button-careers button:hover{
        background-color: #ADC8D2;
        color:#F4F4F6;
      }

.careers-container{

    width:1150px;
    margin:0 auto;
    position:relative;

}


