/*color schemes:
serenity (light blue): #ADC8D2
taupe: #9F9C93     
slate: #54627B     
ivory: #F4F4F6    
*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;}
 
 
    input[type=tel], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;}

  .label-jobs{
    color:black;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  .form-button-job{
    background-color:white;
    border:outset;
    color: black;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 30px;
  }
  
  .form-button-job button:hover{
    background-color: #ADC8D2;
    border: outset;
    color:#F4F4F6;
  }
  
  
  .form-container-careers {
    background-color: #f2f2f2;
    width: 1000px;
    margin: 0 auto;
  }

  .job-description{
      display:block;
      padding:10px;
      border: inset;
      border-radius: 2px;
      width: 1000px;
      margin: 0 auto;
      margin-bottom:30px;
      
      
      
  }
  
  .cardHeight{
    height:100%;
  }