/*color schemes:
serenity (light blue): #ADC8D2 
taupe: #9F9C93  
slate: #54627B   
ivory: #F4F4F6    
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;    
}

.section1-contact h2{
  font-family: 'Libre Baskerville', serif;

}
.section1-contact{
  padding-left: 40px;
  margin-left:10px;
  font-family: 'Libre Baskerville', serif;

}

.form-container-contact {
  background-color: #54627B;
  padding: 20px;
  width: 100%;
margin:0 auto;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

.form-button-contact button{
  background-color: #F4F4F6;
  color: black;
  padding: 12px 20px;
  cursor: pointer;

  width: 100%;
    margin-left: auto;
    margin-right: auto;
  display: inline-block;
  
}

.form-button-contact button:hover{
  background-color: #ADC8D2;
  color:#F4F4F6;
}

.section a{
  text-decoration: none;
  color:black;
  font-weight:bold;
}

ul li a:hover{
  color: black;

}
  @media screen and (min-width:664px){
      .form-container-contact{
          width:60%;
      }
  }

  @media screen and (min-width:986px){
    .form-container-contact{
        width:40%;
    }
}