/*color schemes:
serenity (light blue): #ADC8D2 [loho]
taupe: #9F9C93     [don't know yet]
slate: #54627B     [background]
ivory: #F4F4F6     [nav bar]
*/


.homeBody {
    height:100vh;
    width:100vw;
    background:linear-gradient(160deg, #F4F4F6, #F4F4F6 60.5%, #54627B 60%, #54627B);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  
  
  .section1{
    padding: 20px;
    margin:10px;
  }

  
  .section2{
    padding: 20px;
    margin:10px;
  }


  .section3{
    padding: 20px;
    margin:10px;
  }

  .section3 ul{
    list-style-type: none;
    
  }
