/*color schemes:
serenity (light blue): #ADC8D2 [loho]
taupe: #9F9C93     [don't know yet]
slate: #54627B     [background]
ivory: #F4F4F6     [nav bar]
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;    
}

  h1, h2, p, ul, li {
    font-family: 'Libre Bakersville',sans-serif;
  }

  h2, h3{
    color: #9f9C93;
    font-weight:bold; 
  }

  .homeBody {
    margin-left: 10px;
    padding-left:20px;
   
  }

  p {
    font-size:18px;
    
  }
  
  #myImage{
    width:29rem;
    height: auto;
    margin-left:10px;
    padding-left: 40px;

    
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left:10px;
    padding:10px;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 32.4rem;
    margin-right:30px;
    padding:10px;
    padding-right:10px;
    background:linear-gradient(540deg, #F4F4F6, #F4F4F6 60.5%, #54627B 60%, #54627B);

 
  }

  .section1{
    padding-left: 40px;
    margin-left:10px;
  }

  
  .section2{
    margin-left:10px;
    padding-left: 40px;;

  }


  .section3{
    margin-left:10px;
    padding-left: 40px;

  }

  .section3 ul li{
    list-style-type: none;
    color:black;
    
  }

  .section1 a{
    color:black;
    font-weight: bold;
  }

  .section1 a:hover{
    color:#ADC8D2;
  }
  
  .section1 p, ol, li{
    font-size: 16px;
  }

  .section2 p{
    font-size: 16px;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    margin-right:30px;
    padding:10px;
  }
   
 
  ol{
    list-style: none;
  }

  .section3 a{
    color: black;
    font-size:16px;
  }

  .section3 a:hover{
    color:#ADC8D2;
  }