/*color schemes:
serenity (light blue): #ADC8D2 
taupe: #9F9C93  
slate: #54627B   
ivory: #F4F4F6    
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;    
}

.section1{
  padding-left: 40px;
  margin-left:10px;
  font-family: 'Libre Baskerville', serif;

}

.form-container-requests {
  background-color: #54627B;
  padding: 20px;
  width: 100%;
margin:0 auto;
}


label{
  color:#F4F4F6;
  font-size: 20px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

 .form-button-requests button{
    background-color: #F4F4F6;
    color: black;
    padding: 12px 20px;
    padding-left:20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  display: inline-block;
    
  }

  .form-button-requests button:hover{
    background-color: #ADC8D2;
    color:#F4F4F6;
  }

  @media screen and (min-width:664px){
    .form-container-requests{
        width:60%;
    }
}

@media screen and (min-width:986px){
  .form-container-requests{
      width:40%;
  }
}

@media screen and (max-width:480px){
  .form-button-requests button{
     width: 100% !important;
  }
  }

  