
/*color schemes:
serenity (light blue): #ADC8D2 [loho]
taupe: #9F9C93     [don't know yet]
slate: #54627B     [background]
ivory: #F4F4F6     [nav bar]
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;    
}

.section1{
  padding-left: 40px;
  margin-left:10px;
  font-family: 'Libre Baskerville', serif;

}

.form-container-requests {
  background-color: #54627B;
  padding: 20px;
  width: 1000px;
margin:0 auto;
}


label{
  color:#F4F4F6;
  font-size: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

 .form-button-requests button{
    background-color: #F4F4F6;
    color: black;
    padding: 12px 20px;
    cursor: pointer;
    width: 36rem;
    display: inline-block;
  }

  .form-button-requests button:hover{
    background-color: #ADC8D2;
    color:#F4F4F6;
  }

  @media screen and (min-width:664px){
    .form-container-requests{
        width:60%;
    }
}

@media screen and (min-width:986px){
  .form-container-requests{
      width:40%;
  }
}

@media screen and (max-width:480px){
  .form-button-requests button{
     width: 100% !important;
  }
  }

  