/*color schemes:
serenity (light blue): #ADC8D2 
taupe: #9F9C93  
slate: #54627B   
ivory: #F4F4F6    
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;

height:100%;
  background-color: #F4F4F6;
}

.headerServices{
 
        padding: 20px;
        margin:10px;
        font-family: 'Libre Baskerville', serif;

       
}
.ServicesAccordion{
    text-align: left;
    padding: 10px;
    margin: 10px;
    display: block;
    font-family: 'Libre Baskerville', serif;


    
}

.accordion{
    width:50rem;


    
} 
.cardTitle {
  text-decoration: none;

}

.section1-services{
  padding-left: 10px;
  margin-left:10px;
  font-family: 'Libre Baskerville', serif;


  
}
.section1-services h2{
  color:#9F9C93;
  font-family: 'Libre Baskerville', serif;

}
.accordion-label {
  text-align:left;
  text-decoration: none;
  color: #ADC8D2;
  font-weight:bold;
  font-size:20px;
  font-family: 'Libre Baskerville', serif;

}

p {
font-size:17px;
font-family: 'Libre Baskerville', serif;
}

#medicine_image{
    width: 38rem;
    float:right;
    background:linear-gradient(540deg, #F4F4F6, #F4F4F6 60.5%, #54627B 60%, #54627B);

}

