
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;

height:100%;
  background-color: #F4F4F6;
}.headerServices{
 
        padding: 20px;
        margin:10px;
       
}
.ServicesAccordion{
    text-align: left;
    padding: 10px;
    margin: 10px;
    display: block;
}


.accordion{
    width:50rem;
} 
