/*color schemes:
serenity (light blue): #ADC8D2
taupe: #9F9C93     
slate: #54627B     
ivory: #F4F4F6     

*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html{
  font-family: 'Libre Baskerville', serif;

height:100%;
  background-color: #F4F4F6;
}

body {
  
  height:100vh;
  width:100vw;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}
  


ul.navHeader li {
  display: inline;
  list-style-type: none;

    
}


ul.navHeader {
  padding: 0;

  
}

ul.navHeader li a {
  color: #9F9C93;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  float: right;
  font-size:28px;
  
  
}

ul.navHeader li a:hover{
  color: #ADC8D2;

}

ul.navHeader li a:active{
  color: #ADC8D2;

}

ul.navHeader img{
  padding:10px;
  margin:10px;
}