/*color schemes:
serenity (light blue): #ADC8D2
taupe: #9F9C93     
slate: #54627B     
ivory: #F4F4F6     

*/

body {
  
  height:100vh;
  width:100vw;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}


html{
  height:100%;
}


ul.navHeader li {
  display: inline;
  list-style-type: none;
  
  
}
ul.navHeader {
  font-size: 20px;
  padding: 0;
  
}

ul.navHeader li a {
  color: #9F9C93;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  float: right;
  font-size:20px;

  
}

ul.navHeader img{
  padding:10px;
  margin:10px;
}